section {
  margin-top: 10px;
  margin-bottom: 15px;
}

strong {
  color: #e74c3c;
  font-size: 20px;
  text-transform: uppercase;
  text-decoration: underline;
}

/* Assignment 1 */
#assignment1 {
  background-color: #fff;
  background-image: linear-gradient(
      90deg,
      transparent 79px,
      #abced4 79px,
      #abced4 81px,
      transparent 81px
    ),
    linear-gradient(#eee 0.1em, transparent 0.1em);
  background-size: 100% 1.2em;
  margin-left: 20%;
  margin-right: 20%;
}

#assignment1 p {
  color: #2c3e50;
  font: italic 20px Verdana;
}

#assignment1 p::first-letter {
  font-size: 200%;
  color: #27ae60;
}

#assignment1 #para1 {
  color: #2ecc71;
}

#assignment1 .header {
  color: #e67e22;
}

#assignment1 h1 {
  color: linen;
}

#assignment1 h1:first-of-type {
  /* visibility: hidden; */
  display: none;
}

/* Assignment 2 */
#assignment2 a {
  color: #3498db;
}

#assignment2 a:hover {
  color: #9b59b6;
}

#assignment2 a:active {
  font-size: 20px;
}

#assignment2 a:focus {
  color: #1abc9c;
}

/* Assignment 3 */
#assignment3 * {
  font-size: 16px;
}

#assignment3 li {
  font-size: 90%;
  /* font-size: 0.8rem; */
}

/* Assignment 4 */
#assignment4 #square {
  height: 90vh;
  width: 90vw;
  background-color: #3498db;
}

/* Assignment 5 */

#assignment5 * {
  box-sizing: border-box;
}

#assignment5 .box {
  border: solid 50px #e74c3c;
  padding: 50px;
  text-transform: uppercase;
  width: 50%;
}

#assignment5 .content {
  box-sizing: content-box;
  border: solid 50px #1abc9c;
}
